<!-- start custom footer snippets -->

<form style="text-align: center;margin: auto;width: 80%;border: 1px solid #33adb5;" action="https://feedburner.google.com/fb/a/mailverify" method="post"
target="popupwindow"
onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=VijayPathak', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<h3 style="color: #33adb5;">Get notified instantly whenever new post is added!</h3>
<p>Your email address:
  <input style="width: 60%;" type="text" name="email" /> <input type="hidden" value="VijayPathak"
    name="uri" /><input type="hidden" name="loc" value="en_US" />
    <input type="submit" value="Subscribe" /></P>
</form>

<!-- end custom footer snippets -->