<!-- start custom footer snippets -->

<form style="letter-spacing: 0.7px;box-sizing: border-box;text-align: center;" action="https://feedburner.google.com/fb/a/mailverify" method="post"
target="popupwindow"
onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=VijayPathak', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<h3 style="color: #33adb5;">Get notified instantly whenever new post is added!</h3>
<p>
  <input style="width: 70%;" type="text" name="email" placeholder="Enter your email address" /><input  type="hidden" value="VijayPathak"
    name="uri" /><input type="hidden" name="loc" value="en_US" />
    <input type="submit" value="Subscribe" /></p>
</form>

<!-- end custom footer snippets -->