<!-- start custom footer snippets -->

<form style="text-align: center;margin: auto;width: 80%;letter-spacing: 1px;" action="https://feedburner.google.com/fb/a/mailverify" method="post"
target="popupwindow"
onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=VijayPathak', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<p style="color: #33adb5;font-weight: bold;">Get notified instantly whenever new post is added!</p>
<p style="font-size:large;">Your email address:
  <input style="width: 60%;" type="text" name="email" /> <input type="hidden" value="VijayPathak"
    name="uri" /><input type="hidden" name="loc" value="en_US" />
    <input type="submit" value="Subscribe" /></P>
</form>

<!-- end custom footer snippets -->