body {
    font-family: Verdana, Arial;
    text-align: center;
}
.responsive-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 4px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#authorBio {
    background-color: #eff2f5;
    padding: 50px;
    margin: 15px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #dfdddd;
}
h1 {
    color: #464646;
    font-weight: 200;
}
sup {
    color: #349fe7;
    font-family: 'Courier New';
    border-radius: 30%;
    font-weight: bold;
}
.listProjects {
    background-color: #f1f8ff;
    padding: 20px;
    border-radius: 25px;
    flex-wrap: wrap;
    max-width: 700px;
    margin-right: 20px;
    margin: auto;
    float: right;
    box-shadow: 10px 10px 5px #e6e4e4;
}
#repoDes {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.loader {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f2f4f6;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
a {
    text-decoration: none;
    font-size: large;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}